@media only screen and (min-width: 480px) {
  .song-sheets {
    justify-content: space-between !important;
  }

  .song-sheet {
    flex: 0;
    margin: 0 1rem 1rem 0 !important;
  }
}

@media only screen and (min-width: 800px) {

  .song-content-child {
    width: 50% !important;
  }

  .swiper-dayrecom-box {
    flex-direction: row !important;
  }

  .swiper-dayrecom-box .song-palylist {
    padding: 0 5.33% 0 2rem !important;
  }

  .swiper-dayrecom-box .swiper {
    padding: 0 0 0 5.33% !important;
  }


  .swiper-dayrecom-box .song-palylist .title {
    position: absolute;
    padding: 0.5rem !important;
  }

  .songlist .list .song-list-item {
    width: 45%;
    padding-right: 4%;
  }

  .songlist .list .song-list-item .song-image {
    width: 8%;
  }


  .player {
    padding: 0 25% !important;
  }

  .player-bar .song-image {
    width: 5.9% !important;
  }
}

@media only screen and (min-width: 1280px) {
  .song-content-child {
    width: 25% !important;
  }

  .player-bar .song-image {
    width: 3.6% !important;
  }
}


@media (prefers-color-scheme: dark) {}