@media only screen and (min-width: 480px) {
  .song-sheets {
    justify-content: space-between !important;
  }

  .song-sheet {
    flex: 0;
    margin: 0 16px 16px 0 !important;
  }
}

@media only screen and (min-width: 800px) {

  .song-content-child {
    width: 50% !important;
  }

  .player {
    padding: 0 25% !important;
  }

  .player-bar .song-image {
    width: 5.9% !important;
  }
}

@media only screen and (min-width: 1280px) {


  .song-content-child {
    width: 25% !important;
  }

  .player-bar .song-image {
    width: 3.6% !important;
  }
}


@media (prefers-color-scheme: dark) {}