@media only screen and (min-width: 480px) {
  .song-sheets {
    justify-content: flex-start !important;
  }

  .song-sheet {
    flex: 0;
    margin: 0 .8rem 1rem 0 !important;
  }
}

@media only screen and (min-width: 800px) {

  .song-content-child {
    width: 38% !important;
  }

  .swiper-sheet {
    margin-right: 1rem !important;
  }

  .swiper-dayrecom-box {
    flex-direction: row !important;
  }

  .swiper-dayrecom-box .song-palylist {
    padding: 0 5.33% 0 2rem !important;
  }

  .swiper-dayrecom-box .swiper {
    padding: 0 0 0 5.33% !important;
  }


  .swiper-dayrecom-box .song-palylist .title {
    position: absolute;
    padding: 0.5rem !important;
  }

  .songlist .list .song-list-item {
    width: 45%;
    padding-right: 4%;
  }

  .songlist .list .song-list-item .song-image {
    width: 8%;
  }


  .player {
    padding: 0 25% !important;
  }


  .results .song-image,
  .player-bar .song-image {
    width: 4.5% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .songlist .list .song-list-item .song-image {
    width: 10%;
  }
}

@media only screen and (min-width: 900px) and (min-height: 900px) {
  .player {
    justify-content: center !important;
  }
}

@media only screen and (min-width: 900px) and (min-height: 900px) {
  .player {
    justify-content: center !important;
  }
}

@media only screen and (min-width: 1280px) {
  .song-content-child {
    width: 25% !important;
  }

  .results .song-image,
  .player-bar .song-image {
    width: 3.6% !important;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --global-bg: rgba(0, 0, 0, .9) !important;
    --global-color: rgb(255, 255, 255) !important;
    --bottom-bar-color: rgb(106, 106, 106) !important;
    --bg: rgba(15, 15, 15, 0.6) !important;
    --message-bg: rgba(15, 15, 15, 0.9) !important;
  }
}