@font-face {
  font-family: "iconfont";
  /* Project id 3898371 */
  src: url('../static/font/iconfont.woff2?t=1676468610010') format('woff2'),
    url('../static/font/iconfont.woff?t=1676468610010') format('woff'),
    url('../static/font/iconfont.ttf?t=1676468610010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengque:before {
  content: "\e6a1";
}

.icon-tishi:before {
  content: "\e617";
}


.icon-Loading:before {
  content: "\e6e8";
}

.icon-loading:before {
  content: "\e688";
}

.icon-plus:before {
  content: "\e656";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-31paixingbang:before {
  content: "\e602";
}

.icon-gengduo1:before {
  content: "\e719";
}

.icon-phb:before {
  content: "\e60d";
}

.icon-caidan:before {
  content: "\e610";
}

.icon-shoucang:before {
  content: "\e69b";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-AppleMusic:before {
  content: "\e733";
}

.icon-shanchu:before {
  content: "\e635";
}

.icon-yonghu:before {
  content: "\e638";
}

.icon-gongzhonghao:before {
  content: "\e63e";
}

.icon-pengyouquan:before {
  content: "\e63f";
}

.icon-sousuo:before {
  content: "\e663";
}

.icon-liebiao:before {
  content: "\e607";
}

.icon-gengduo:before {
  content: "\e69a";
}

.icon-wodexiao:before {
  content: "\e941";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-search-fill:before {
  content: "\e636";
}

.icon-skin:before {
  content: "\e637";
}

.icon-xiayishou_huaban:before {
  content: "\e639";
}

.icon-gedan:before {
  content: "\e600";
}

.icon-yinlegedanyinfu:before {
  content: "\e72f";
}

.icon-huatong:before {
  content: "\e63a";
}

.icon-shengyin01-mianxing:before {
  content: "\e6e5";
}

.icon-shengyin03-mianxing:before {
  content: "\e6fa";
}

.icon-wode:before {
  content: "\e71b";
}

.icon-next-fill:before {
  content: "\e6bb";
}

.icon-play-fill:before {
  content: "\e6be";
}

.icon-pause-fill:before {
  content: "\e6bc";
}