/* music S*/
$bottom-bar-height: 128rpx;
$bottom-bar-icon-size: 48rpx;
$bottom-bar-text-size: 24rpx;
$bottom-bar-icon-margin: 0px 0 6rpx 0;
$bottom-bar-icon-color:RGB(135,135,135);
$bottom-bar-text-color:RGB(148,148,148);
$bottom-bar-split-color:RGBA(167,167,167,0.5);
$bottom-bar-active-color:RGB(241,18,56);

$bottom-bar-bg-color: RGB(245,245,245,0.5);

$global-padding: 0 5.33%;

$play-song-image-width: 96rpx;
$play-song-name-width: 362rpx;
$play-song-name-margin: 0 32rpx;
$play-song-name-size: 32rpx;
$play-song-btns-width: 148rpx;
$play-song-btn-size: 32px;

$transition: all .4s cubic-bezier(.29,.95,.49,.97);

$opacity-zero: 0;
$opacity-one: 1;
/* music E*/